body{
    background: #808080;
    margin: 0px;
}

nav{
    background:#042e2e;
    width: 100%;
    padding: 30px 0;
    position: relative;
    border-bottom: 2px solid #111;
 }
 nav img{
    width: 7%;
    height: 90px;
    border-radius: 50%;
    margin: 0 30px 0 50px;
    object-fit: cover;
    border: 1px solid #111;
    cursor: pointer;
    float: left;
}

img:hover{
    opacity: 0.7;
}
h4{
    color: #111;
    background: #fff;
    border-radius: 1ch;
    font-size: 20px;
    border: 1px solid #111;
    width: auto;
    display: inline-block;
     padding: 3px 12px; 
    margin-top: 55px;
}  
nav form{
    display: flex;
    float: right;
    margin-top: 50px; margin-right: 20px;
    width: 30%;
    height: 40px;
    padding: 2px;
    background: #fff;
    min-width: 18%!important;
    border-radius: .5ch;
  }
  nav form .search-data{
    width: 100%;
    height: 100%;
    padding: 20px;
    color: #111;
    font-size: 20px;
    border: none;
    font-weight: 500;
    background: none;
    outline: none;
  }
  nav form button{
    padding: 0 15px;
    color: #fff;
    font-size: 20px;
    background: rgb(23, 126, 223);
    border: none;
    border-radius: .5ch;
    cursor: pointer;
  }
  nav form button:hover{
    opacity: 0.9;;
  }
  nav .cancel-icon,
  nav .search-icon{
    width: 40px;
    color: #042e2e;
    text-align: center;
    margin: 0 50px;
    font-size: 18px;
    cursor: pointer;
    display: none;
  }
  nav .cancel-icon,
  nav .search-icon{
    display: none;
  }

  @media (max-width: 1140px){
    nav form{
      position: absolute;
      top: 50px;
      right: 40px;
      opacity: 0;
      pointer-events: none;
      transition: top 0.3s ease, opacity 0.1s ease;
    }
    nav form.active{
      top: 95px;
      opacity: 1;
      pointer-events: auto;
    }
    nav form:before{
      position: absolute;
      content: "";
      top: -13px;
      right: 0px;
      width: 0;
      height: 0;
      z-index: -1;
      border: 10px solid transparent;
      border-bottom-color: #1e232b;
      margin: -20px 0 0;
    }
    nav form:after{
      position: absolute;
      content: '';
      height: 60px;
      padding: 2px;
      background: #1e232b;
      border-radius: 2px;
      min-width: calc(100% + 20px);
      z-index: -2;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    
    nav .search-icon{
      display: block;
    }
    nav .search-icon.hide{
      display: none;
    }
    nav .cancel-icon.show{
      display: block;
    }
  }
  
  @media (max-width: 980px){
    nav .cancel-icon,
    nav .search-icon{
      margin: 0 20px;
    }
    nav form{
      right: 30px;
    }
  }
  @media (max-width: 350px){
    nav .cancel-icon,
    nav .search-icon{
      margin: 0 10px;
      font-size: 16px;
    }
  }

.notification{
    background: rgb(23, 126, 223);
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
    font-size: 15px;
    padding: 8px; padding-right: 25px;
    position: relative;
    float: right;
    right: 20px;
    border: none;
    border-radius: .5ch;
}
.notification:hover{
   opacity: 0.9;
   color: #fff;
}
.notification .badge{
    position: absolute;
    bottom: 6px; right: 6px;
    padding: 3px;
    border-radius: .2ch;
    background: #fff;
    color: #111;
    font-size: 10px;
}
.dropdown {
    margin: 10px;
}
.dropdown .dropbtn {
    cursor:pointer;
    font-size: 30px;
}

.dropdown .dropbtn i{
    font-size: 16px;
}
.openbtn {
    position: absolute;
    left: 30px;
  }
.dropdown .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #fff;
  }
#dropdown-content {
    position: absolute;
    display: none;
    background: #fff;
    min-width: 160px;
    margin-left: 10px;
    margin-top: 10px;
  }
  
#dropdown-content a {
    padding: 10px 30px;
    text-decoration: none;
    border: 1px solid #808080;
    text-align: left;
    color: #666565;
    display: block;
  }
#dropdown-content a:hover {
    background: #ddd;
  }
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    background: #042020;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1;
  }
  
.sidenav .different {
    padding: 8px 12px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    transition: 0.3s;
    text-align: right;
    margin-top: 15px;

}
  
.sidenav .different:hover {
    background:rgba(255, 255, 255, 0.541);
  }
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #fff;
  }

.sidenav  .icon{
    float: left;
}

.sidenav1 {
    height: 100%;
    width: 0;
    position: fixed;
    background: #042020;
    top: 0;
    left: 0;
    padding-top: 60px;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1;
  }
  
.sidenav1 .dropdown-content a {
    padding: 8px 12px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    transition: 0.3s;
    text-align: left;
    margin-top: 15px;

}
  
.sidenav1 .dropdown-content a:hover {
    background:rgba(255, 255, 255, 0.541);
  }
  
.sidenav1 .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #fff;
    margin-bottom: 20px;
  }
  .openbtn:hover{
color: #fff;
  }
footer{
    background: #042e2e;
    height: 70px;
    width: 100%;
    border-top: 2px solid #111;  
    margin: auto; margin-bottom: 0;
    bottom: 0;
    text-align: center;

}
footer .icon{
    font-size: 30px;
    cursor: pointer;
    padding: 15px 15px;
  align-items: center;
}
footer .icon:hover{
   opacity: 0.9;
}
.slider{
   max-width: 1000px;
    position: relative;
    margin: auto;
    height: 550px;
}
.mySlides{
    display: none;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 30px;
    top: 40%;
     margin: auto;
    font-weight: bolder;
    font-size: 30px;
    color: #042e2e;
    transition: 0.6s ease;

}
.next{
    right: 5px;
    border-radius: 3px 0 0 3px;
}
.prev{
    left: 5px;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
    opacity: 0.9;
}
.bar{
    cursor: pointer;
    height: 5px;
    width: 20px;
    margin: 4px 2px;
    background-color:#717171;
    display: inline-block;
    transition: #042e2e 0.6s ease;
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity:.4;}
    to {opacity: 1;}
}



@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav .different {font-size: 18px;}
    .sidenav1 {padding-top: 15px;}
    .sidenav1 a {font-size: 18px;}
  }

@media(max-width:990px){

}