*{
    font-family: verdana, sans-serif;
    margin: 0;
    text-decoration: none;
    border: #fff;
    text-transform: capitalize;
    box-sizing: border-box;
}

body{
    background: #b6b5b5;
    overflow-x: hidden;
    padding: 0;
}

.logo img{
    width: 5%;
    margin-top: 30px; margin-left: 30px;
    border-radius: 50%;
}

h1{
    text-align: center;
    justify-content: center;
    font-weight: normal;
    text-transform: uppercase;
    color: #373837;
    margin-bottom: 40px;
    font-size: 40px;
}
.outer{
    background: rgb(23, 126, 223);
    border-radius: 1.5ch;
    width: 58%; 
    position: relative;
    height: 470px;
    display: flex;
    justify-content: center;
    margin: auto; margin-bottom: 90px;
}
.outer h2 {
    text-align: center;
    color: #fff;
    font-weight: normal;
    margin-top: 20px;
    font-size: 30px;
}
.inner{
    width:98%;
    position: absolute; 
    background: #fff;
    border-radius: 1.5ch;
    top: 90px;
    height: 370px;
  }
 .input{
    text-align: center;
 }
 .password {
    margin-left: 100px;
 }
 p{
    display: inline-block;
    font-size: 15px;
    color: #353434;
    margin-bottom: 10px;
 }
 input[type=checkbox]{
    height: 15px;
    width: 15px;
 }
 
input[type=text], input[type=password] {
    width: 80%;
    padding: 15px 20px;
    margin: 30px;
    margin-top: 40px;
    margin-bottom: 15px;
    border: 2px solid #eee;
    background: transparent;
    border-radius: 1ch;
    color: #808080;
    outline: none;
    font-size: 18px;
}
.box::placeholder{
    color: #808080;
}
.login a{
    color: white;
}
.login {
    background-color: rgb(23, 126, 223);
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-top:30px; margin-left: 100px;
    font-size: 17px;
    border-radius: .7ch;
  }
.login:hover {
    opacity: 0.9;
  }

.fa-user-cog {
    color:#353434;

    font-size: 25px;
    cursor: pointer;
    margin-right: 30px;
    margin-top: 30px;
    padding: 10px;
}
.fa-user-cog:hover, .fa-user-cog:focus {
    color:rgb(23, 126, 223);
}
.dropdown {
    position: relative;
    float: right;
  }
.content{
    background: #fff;
    overflow-y: none;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,0.2);
    z-index: 1;
    position: absolute;
    min-width: 190px;
    text-align: center;
    display: none;
}
.content a{
    color: #111;
    padding: 10px 16px;
    font-size: 16px;
    display: block;
}
.content a:hover{
    background:#ddd;
}
.show{
    display: block;
}


@media (max-width:1300px){
.logo img{
    margin-top: 50px;
    margin-left: 60px;
    width: 7%;
}
h1{
    font-size: 43px;
    margin-top: -20px;
}
.outer h2{
    font-size: 33px;
}
.outer{
    width: 80%;
    height: 600px;
}
.inner{
    height: 500px;
}
input[type=text], input[type=password]{
    padding: 28px 15px;
    font-size: 23px;
}
.password p{
    font-size: 18px;
}
.password input [type=checkbox]{
    height: 25px;
    width: 25px;
}
.login {
    padding: 20px 30px;
    font-size: 23px;
    margin-left: 60px;
}
.fa-user-cog{
    font-size: 40px;
}
.content{
    min-width: 290px;
    margin-left: -150px;
}
.content a{
    font-size: 23px;
    padding: 13px 18px;
}
}

@media (max-width:990px){
    .logo img{
        margin-top: 70px;
        margin-left: 70px;
        width: 10%;
    }
    h1{
        font-size: 60px;
        margin-top: 40px;
        font-weight: bold;
    }
    .outer h2{
        font-size: 55px;
        margin-bottom: 30px;
    }
    .outer{
        width: 95%;
        height: 1080px;
        margin-top: 70px;
    }
    .inner{
        top: 140px;
        height: 920px;
    }
    input[type=text], input[type=password]{
        padding: 55px 30px;
        font-size: 35px;
        margin-top: 80px;
    }
    .password p{
        margin-top: 30px;
        font-size: 30px;
    }
    input[type=checkbox]{
        height: 30px;
       width: 30px;
    }
    .login {
        padding: 30px 35px;
        font-size: 30px;
        margin-left: 100px;
        margin-top: 100px;
    }
    .fa-user-cog{
        font-size: 70px;
        margin-top: 100px;
    }
    .content{
        min-width: 370px;
        margin-left: -300px;
    }
    .content a{
        font-size: 35px;
        padding: 20px 18px;
    }
    }

@media (max-width:768px){
    .logo img{
        margin-top: 70px;
        margin-left: 40px;
        width: 15%;
    }
    h1{
        font-size: 55px;
        margin-top: 45px;
    }
    .outer h2{
        font-size: 55px;
        margin-bottom: 30px;
    }
    .outer{
        width: 99%;
        height: 1350px;
        margin-top: 150px;
    }
    .inner{
        height: 1250px;
    }
    input[type=text], input[type=password]{
        padding: 60px 30px;
        font-size: 45px;
        margin-top: 1O0px;
    }
    .password p{
        margin-top: 30px;
        font-size: 40px;
    }
    input[type=checkbox]{
       height: 30px;
       width: 30px;
    }
    .login {
        padding: 30px 35px;
        font-size: 45px;
        margin-left: 70px;
        margin-top: 120px;
    }
    .fa-user-cog{
        font-size: 70px;
        margin-top: 60px;
    }
    .content{
        min-width:400px;
        margin-left: -150px;
    }
    .content a{
        font-size: 45px;
        padding: 20px 18px;
    }
}

@media(max-width:400px){
    input[type=text], input[type=password]{
        padding: 75px 30px;
        font-size: 45px;
        margin-top: 1O0px;
    }
}